.footer-logo {
  width: 220px;
  height: auto;
}

.footer {
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 768px) {
  .footer {
    margin: 50px 70px;
  }
}
